<!DOCTYPE html>
<html>
    <head>
        <title>Destivano</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
        <div id="baniere" class="pure-g">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-2-24 item-menu">
                femmes
            </div>
            <div class="pure-u-2-24 item-menu">
                hommes
            </div>
            <div class="pure-u-2-24 item-menu">
                accessoires
            </div>
            <div class="pure-u-10-24">
                <div id="destivano"><a href="/">Destivano</a></div>
            </div>
            <div class="pure-u-4-24"></div>
            <div id="langue" class="pure-u-2-24 item-menu">
                mon compte
            </div>
            <div id="langue" class="pure-u-1-24 item-menu">
                en 
            </div>
        </div>
        </header>
        <div id="main-content">
            <%= yield %>
        </div>
        <footer>
        <div class="pure-g">
            <div class="pure-u-1-5"> </div>
            <div class="pure-u-1-5">
                <div id="contact">
                    <h2 class="categorie-footer">Contact</h2>
                    <ul>
                        <li>Nous joindre</li>
                        <li>Nos adresses</li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-5">
                <div id="entreprise">
                    <h2 class="categorie-footer">Entreprise</h2>
                    <ul>
                        <li class="sans-deco"><%= link_to "Notre mission", controller: "entreprise", action: "mission" %></li>
                        <li class="sans-deco"><%= link_to "Notre histoire", controller: "entreprise", action: "histoire" %></li>
                        <li class="sans-deco"><%= link_to "Média", controller: "entreprise", action: "media" %></li>
                        <li class="sans-deco"><%= link_to "Joindre notre équipe", controller: "entreprise", action: "equipe" %></li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-2-5"> </div>
        </div>
        </footer>

    </body>
</html>
